.app {
  display: contents;
  height: 100vh;
}

.menu {
  background-color: #cfe4ff;
  padding: 16px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 8px;
}

.menu-item a {
  color: #000;
  text-decoration: none;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  text-align: center;
}
